* {
  margin: 0;
  padding: 0;
}
.navbar {
  background: rgba(199, 199, 199, 0.5);
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.navbar ul li {
  list-style-type: none;
  display: inline;
}
.navbar ul li a {
  text-decoration: none;
}

.outer {
  width: 400px;
  height: 400px;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  width: 200px;
  height: 200px;
  background: rgba(199, 199, 199, 0.5);
}
